.orders-section {
    background-color: #F5F8FF;
    box-shadow: 0px 7px 15px 0px #1126920D;
    border: 1px solid #CCD8E5;
    border-radius: 20px;
    overflow: hidden;
    height: 100vh;
}

.orders-section .sidebar-head {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    color: var(--Color);
}

.orders-section .order-sidebar {
    max-width: 380px;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #CCD8E5;
    height: 100vh;
    box-shadow: 0px 7px 15px 0px #1126920D;
    background-color: #FFFFFF;
    position: relative;
    z-index: 10;
    overflow: auto;
    min-width: 380px;
}

.orders-section .order-sidebar .sidebar-chip {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
    padding: 8px;
    background-color: #F4F7FE;
    border: 0.66px solid #CCD8E5;
    border-radius: 8px;
    color: var(--Color);
}

.commonTable.orderTable {
    width: calc(100vw - 380px);
}

.commonTable.orderTable tbody {
    max-height: calc(100vh - 298px) !important;
}

.commonTable.orderTable #orderTable {
    height: calc(100vh - 187px);
}

.commonTable.orderTable .table-contant {
    border: none !important;
}

.orders-section .right-part,
.right-top-part {
    border-top-right-radius: 20px;
}

.orders-section .right-top-part {
    white-space: nowrap;
}

.commonTable.orderTable .bottom-bar {
    background: #F5F8FF;
    padding: 8px 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border: 1px solid #CCD8E5;
    border-left: none;
    box-shadow: 0px 7px 15px 0px #1126920D;
    display: flex;
    align-items: center;
    justify-content: start;
}

.orders-section .right-part .save-btn {
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #023E7D;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 20px;
    border: 0;
    color: #FFFFFF;
}

.orders-section .right-part .delete-btn {
    background-color: #E31A1A;
}


.orders-section .right-part .des-text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding: 10px 17px;
    border-top: 1px solid #CCD8E5;
    border-bottom: 1px solid #CCD8E5
}

.orders-section .right-part .order-label {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    color: var(--Color);
}

.orders-section .right-part .order-input {
    border: 1px solid #E8EEFF;
    width: 100%;
    border-radius: 12px;
    padding: 8px 16px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 15px;
    color: var(--Color);
}

.orders-section .right-part .order-input:focus {
    outline: 0;
}

.orders-section .right-part .square-btn {
    height: 40px;
    width: 40px;
    border: 1px solid #E8EEFF;
    background-color: #F5F8FF;
    border-radius: 12px;
}

.orders-section .right-part .right-top-part {
    background-color: #FFFFFF;
    padding: 18px 0 0px;
    width: 100%;
}

.orders-section .right-part .order-box {
    padding: 8px 14px;
    border: 1px solid #E8EEFF;
    border-radius: 8px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    color: var(--Color);
}

.orders-section .right-part .order-box:hover {
    background-color: #F4F7FE;
}

.orders-section .right-part .right-order-content {
    margin-top: 240px;
    height: calc(100vh - 304px);
    overflow: auto;
}

.order-table-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.order-table-head .menu-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.order-table-head .filter-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.order-table-head .filter-part input {
    width: 100%;
    border: 1px solid #E8EEFF;
    border-radius: 12px;
    height: 40px;
    padding: 14px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #023E7D;
}

.order-table-head .filter-part input:focus {
    outline: none;
}

.order-table-head .menu-part h3 {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #023E7D;
}

#orderTable thead tr th {
    width: calc(100vw - 430px) !important;
    padding: 10px 17px !important;
}

#orderTable .amount-data {
    text-align: start;
    align-items: start;
    margin-left: 10px;
}

.orders-section .button-container {
    padding-left: 17px;
    padding-right: 17px;
}

@media (max-width: 1200px) {
    .orders-section .right-part .des-text {
        font-size: 16px;
    }

    .orders-section .button-container .save-btn,
    .orders-section .button-container .save-btn.delete-btn {
        font-size: 16px;
        padding: 8px 12px;
    }

    .commonTable.orderTable #orderTable {
        height: calc(100vh - 174px);
    }

    .commonTable.orderTable tbody {
        max-height: calc(100vh - 288px) !important;
    }
}