.chat-wrapper {
    display: flex;
    align-items: flex-end;
}

.sink-chat {
    max-width: 1583px;
    width: 100%;
    height: 830px;
    background-color: #fff;
    border: 1px solid rgba(204, 216, 229, 1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.chat-header {
    padding: 11px 12px 9px 14px;
    width: 100%;
    height: 88px;
    border-bottom: 1px solid rgba(204, 216, 229, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goback-img {
    width: 45px;
    height: 45px;
    background-color: rgba(245, 248, 255, 1);
    border: 1px solid rgba(232, 238, 255, 1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.goback-title {
    color: rgba(2, 62, 125, 1);
    font-size: 20px;
    font-weight: 500;
    margin-left: 16px;
}

.dropdown-sec {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(232, 238, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    height: 45px;
    width: 280px;
}

.edit-img {
    padding-left: 16px;
}

.edit-name {
    padding-left: 26px;
    color: rgba(2, 62, 125, 1);
    font-size: 20px;
    font-weight: 500;
}

.dropdown-menu {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 240px;
}

.dropdown-item {
    font-size: 16px;
    padding: 8px 12px;
    color: rgba(2, 62, 125, 1);
}

.dropdown-item:hover {
    background-color: rgba(245, 248, 255, 1);
    color: rgba(2, 62, 125, 1);
}

.header-brand {
    background-color: rgba(255, 102, 33, 1);
    width: 131px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid rgba(232, 238, 255, 1);
    padding: 7px 20px;
    margin-bottom: 10px;
}

.header-title {
    color: rgba(2, 62, 125, 1);
    font-size: 15px;
    font-weight: 700;
}

.message-input {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.input-wrapper input::placeholder {
    color: rgba(2, 62, 125, 1);
    font-weight: 500;
    font-size: 17px;
}
.input-wrapper input:focus {
   outline: none;
   box-shadow: none;
   border: 1px solid rgba(204, 216, 229, 1);
}

.input-wrapper {
    position: relative;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(17, 38, 146, 0.05);
}

.input-wrapper input {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    border: 1px solid rgba(204, 216, 229, 1);
    color: rgba(2, 62, 125, 1);
    font-weight: 500;
    font-size: 17px;
    padding: 0 60px 0 12px;
}


.send-img {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    background-color: rgba(255, 194, 131, 1);
    height: 40px;
    width: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.send-icon {
    height: 18px;
    width: 18px;
}
button {
  position: absolute;
  bottom: 112px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 204px;
  width: 100%;
  height: 45px;
  background-color: rgba(255, 194, 131, 1);
  color: rgba(2, 62, 125, 1);
  border: none;
  border-radius: 10.18px;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap:20px
}

.chat-body {
  padding: 49px 32px;
  overflow-y: auto;
  max-height: 650px;
}

.message.incoming {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.message.incoming > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.timestamp {
  margin-top: 7px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(148, 163, 184, 1);
}

.user-icon {
  width: 58px;
  height: 58px;
  border-radius: 16.59px;
  background-color: rgba(245, 248, 255, 1);
  border: 1px solid rgba(204, 216, 229, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}
.message-content {
  background-color: #f9fbff;
  padding: 12px 16px;
  border-radius: 12px;
  max-width: 462px;
  border: 1px solid rgba(232, 238, 255, 1);
}

.message-content .text {
  font-size: 20px;
  font-weight: 500;
  color: rgba(2, 62, 125, 1);
}
.sender-name{
    color: rgba(2, 62, 125, 1);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.message.outgoing {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.message.outgoing .timestamp {

 margin-top: 7px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(148, 163, 184, 1);
  text-align: right;
}
.chat-body::-webkit-scrollbar {
  width: 2px;
}
.chat-body::-webkit-scrollbar-thumb {
  background-color:rgba(2, 62, 125, 1);
}
